In [5]:
# List (array) - ordered, allows duplicates
names = ["John", "Steven", "John", "Jennie", "Lucas"]
print(names)

names.append("Mary")
print(names)

names.remove("John")
print(names)

names.insert(2, "Peter")
print(names)

names.sort()
print(names)

pop_result = names.pop(1) # remove element of index 1
print(names)

print(len(names))

names.clear()
print(names)

['John', 'Steven', 'John', 'Jennie', 'Lucas']
['John', 'Steven', 'John', 'Jennie', 'Lucas', 'Mary']
['Steven', 'John', 'Jennie', 'Lucas', 'Mary']
['Steven', 'John', 'Peter', 'Jennie', 'Lucas', 'Mary']
['Jennie', 'John', 'Lucas', 'Mary', 'Peter', 'Steven']
['Jennie', 'Lucas', 'Mary', 'Peter', 'Steven']
5
[]

In [9]:
list1 = ["apple", "orange"]
list2 = [2, 3, 4]
list3 = list1 + list2
print(list3)

# print(list3.sort()) # error

for e in list3:
  print(e)

['apple', 'orange', 2, 3, 4]
apple
orange
2
3
4

In [ ]:
# set - unordered, no duplicates
ages = {4, 5, 1, 4, 5}
staff = {'John', 'Mary', 'John'}
print(ages)
print(staff)
print(type(ages))

ages.add(10)
print(ages)

ages.add(10)
print(ages)

staff.add('Steven')
staff.add('Steven')
print(staff)

# remove
staff.remove('Mary')
print(staff)

# update - combine
set1 = {5, 4, 1, 7}
set2 = {5, 7, 19, 11}
print(set1.update(set2))
print(set1)

# intersection - common data set
set3 = {5, 4, 1, 7}
set4 = {5, 7, 19, 11}
print(set3.intersection(set4))
print(set3)
print(set4)

{1, 4, 5}
{'John', 'Mary'}
<class 'set'>
{1, 10, 4, 5}
{1, 10, 4, 5}
{'John', 'Steven', 'Mary'}
{'John', 'Steven'}
{1, 4, 5, 7, 11, 19}
{5, 7}
{1, 4, 5, 7}

In [ ]:
# dict (Java: Object/HashMap)
person = {
  "name" : "Kenny",
  "age" : 17
}

print(type(person))
print(person)
print(person['name'])
print(person['age'])

# row
for (k, v) in person.items():
  print(f"person name={k}, age={v}")

# column
print(person.keys())
print(person.values())

<class 'dict'>
{'name': 'Kenny', 'age': 17}
Kenny
17
person name=name, age=Kenny
person name=age, age=17
dict_keys(['name', 'age'])
dict_values(['Kenny', 17])

In [13]:
book = {
  12 : "John",
  "age" : 37,
  True : 38.5
}

print(book[12])
print(book['age'])
print(book[True])

# add key and value
book[25] = False
print(book)

book[True] = [100, 23, 5]
print(book)

book.update({True : "Steven"})
print(book)

book[25] = {'ABC', 'IJK'}
print(type(book[25])) # set
print(type(book[True])) # str

John
37
38.5
{12: 'John', 'age': 37, True: 38.5, 25: False}
{12: 'John', 'age': 37, True: [100, 23, 5], 25: False}
{12: 'John', 'age': 37, True: 'Steven', 25: False}
<class 'set'>
<class 'str'>

In [15]:
# List of dict
members = [
  {
    "name" : "John",
    "age" : 17
  },
  {
    "name" : "Mary",
    "age" : 10
  },
]

print(members)
print(members[1])
print(members[1]["name"])

[{'name': 'John', 'age': 17}, {'name': 'Mary', 'age': 10}]
{'name': 'Mary', 'age': 10}
Mary

In [19]:
# tuple
salary = (2000, 4000)
print(salary)
print(type(salary))

print(salary[0])

amount = (500)
print(type(amount))

elements = (True, 100, 'John', 80.5, ['ABC', 'IJK'], {3, 2, 4})
print(elements[4])

(2000, 4000)
<class 'tuple'>
2000
<class 'int'>
['ABC', 'IJK']